:host {
  height: 100vh;

  background: #f2f7f9;
}

.table-direction {
  display: flex;
  flex-direction: column;
}

.leader-text {
  text-align: start;
  margin: 10px 0px 10px 0px;
  background-color: #bfd4e4;
  border-radius: 6px;
}

.avatar {
  border-radius: 50%;
}

.bage {
  text-align: center;
  background-color: #ddeaf3;
  padding-left: 10px;
  padding-right: 8px;
  margin-top: -20px;
  border-radius: 3px;
  position: fixed;
}

.time-count {
  color: #ffffff;
  position: absolute;
  margin-left: 5px;
}

.time {
  font-weight: 200;
  line-height: 14px;
  height: 14px;
  font-size: 12px;
}

.minus {
  padding-right: 7px;
}

.cost {
  text-align: center;
  font-size: 13px;
}

.loss {
  color: #8a0000;
}

.grow {
  color: #21a300;
}

.my-user {
  background-color: #bfd4e4;
  padding: 3px;
  border-radius: 10px;
}

.close-attack {
  border: none;
  background-color: transparent;
}

.tumb {
  max-width: 40px;
  border-radius: 50%;
}

.crypto-glow {
  box-shadow: 0 0 10px black;
}

.active-user {
  padding: 3px;
  border-radius: 10px;
  background-color: #bfd4e4;
}

.gup-0 {
  margin-left: 20px;
}
.gup-1 {
  margin-left: 40px;
}
.gup-2 {
  margin-left: 60px;
}
.gup-3 {
  margin-left: 80px;
}
.gup-4 {
  margin-left: 100px;
}

.active-tumb {
  position: absolute;
}

.active-cost {
  display: none;
}

.info {
  background-color: #bfd4e4;
  height: 24px;
  width: 24px;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
}

.participant {
  height: 40px;
}

.wrapper {
  display: grid;
  gap: 5px;
  grid-template-areas:
    'header header header load load load'
    'start start start end end end';
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
}

.attack {
  justify-items: center;
  gap: 5px;
  grid-template-areas:
    'header header header load load load'
    'start start end end end end';
}

.attack-field {
  width: 100%;
  height: 100%;
}

.attack-select {
  background-color: #bfd4e4;
  border-radius: 60px;
  width: 90%;
  height: 90%;
}

.centered-attack {
  width: 100%;
  height: 100%;
  align-content: center;
}

.leader-board {
  justify-self: center;
  grid-area: start;
}

.atk-wrapper {
  display: flex;
  flex-direction: row-reverse;
  margin-top: -65px;
}

.selected {
  justify-self: left;
}

.load {
  width: 100%;
  justify-self: center;
  align-items: center;
  grid-area: load;
}

.graph {
  justify-self: center;
  grid-area: end;
}

.header {
  width: 100%;
  justify-self: center;
  grid-area: header;
  align-items: center;
}

.progress-bar {
  border-radius: 15px;
  background-color: #21a300;
}

.progress {
  background-color: #597393;
  border-radius: 15px;
  height: 17px;
}

.progress-row {
  background-color: #c4c5f0;
  border-radius: 15px;
}

.load-box {
  background-color: #c4c5f0;
  border-radius: 10px;
  align-items: center;
}

.dot {
  margin: 0 5px 0 5px;
  width: 30px;
  height: 9px;
  border-radius: 50%;
  background-color: white;
}
