<div class="vh-100">
  <div class="wrapper" [ngClass]="{ attack: selectedParticipant }">
    <div class="header d-flex justify-content-evenly">
      <div class="leader-text">Leader Board until 1st wave</div>
      <button class="info">i</button>
    </div>

    <div class="load d-flex container">
      <div class="d-flex w-100 load-box">
        <div class="progress w-100">
          <div
            class="progress-bar"
            role="progressbar"
            [style]="{ width: percent + '%' }"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
          <div *ngIf="percent" class="time-count">{{ time }} left</div>
        </div>
        <div class="dot"></div>
        <div class="progress w-100">
          <div
            class="progress-bar"
            [style]="{ width: percent2 + '%' }"
            role="progressbar"
            aria-valuenow="25"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
          <div *ngIf="percent2" class="time-count">{{ time2 }} left</div>
        </div>
        <div class="dot"></div>
        <div class="progress w-100">
          <div
            class="progress-bar"
            [style]="{ width: percent3 + '%' }"
            role="progressbar"
            aria-valuenow="25"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
          <div *ngIf="percent3" class="time-count">{{ time3 }} left</div>
        </div>
      </div>
      <div class="d-flex time">{{ allTimeCount }}</div>
    </div>

    <div class="leader-board w-100" [ngClass]="{ selected: selectedParticipant }">
      <div class="container table-direction">
        <!--        [@boardState]="{ value: visible, params: { params: { min_height: 2 } } }"-->
        <div
          style="padding-bottom: 3px; padding-left: 10px"
          class="user-order-{{ userOrder[i] }}"
          *ngFor="let participant of participants; index as i"
          id="{{ i }}"
        >
          <div
            class="row"
            [ngClass]="{
              'my-user': participant.userName === 'My User' && !activeParticipant,
              'active-user': activeParticipant && activeParticipant?.id === participant.id
            }"
            (click)="selectUser(participant)"
          >
            <div class="col">
              <img
                class="d-flex mx-1 col p-0 avatar"
                style="max-width: 50px"
                src="/assets/img/cypto-tumb/crypto-2.jpg"
                alt="Card"
              />
              <div class="d-flex bage">sum{{ i }}</div>
            </div>
            <div
              class="col p-0 d-flex flex-column justify-content-center"
              style="align-items: center"
              *ngFor="let cr of participant.crypto; index as in"
            >
              <img
                class="d-flex tumb"
                [ngClass]="{
                  'active-tumb': selectedParticipant,
                  'mx-1': !selectedParticipant
                }"
                src="/assets/img/cypto-tumb/UDS.svg"
                alt="Card"
              />
              <div class="cost" [ngClass]="{ minus: cr.crypto.includes('-'), 'active-cost': selectedParticipant }">
                {{ cr.crypto }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="graph" *ngIf="!selectedParticipant && showChart">
      <canvas
        baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [chartType]="barChartType"
        [colors]="lineChartColors"
      >
      </canvas>
    </div>

    <div class="d-flex flex-row attack-field graph" *ngIf="selectedParticipant">
      <div class="attack-select container">
        <div class="row centered-attack">
          <div class="col">
            <img
              class="d-flex mx-1 col p-0 avatar"
              style="max-width: 50px"
              src="/assets/img/cypto-tumb/crypto-2.jpg"
              alt="Card"
            />
            <div class="d-flex bage">sum</div>
          </div>
          <div class="col p-0" *ngFor="let cr of attackedParticipant.crypto; index as i">
            <div class="w-100">
              <div
                class="m-auto d-flex tumb"
                [ngClass]="{ 'crypto-glow': attackSelectedCard }"
                (click)="applyEffect(attackSelectedCard)"
              >
                <img class="d-flex tumb m-auto" src="/assets/img/cypto-tumb/crypto-1.jpeg" alt="Card" />
              </div>
            </div>
            <div class="cost" [ngClass]="{ minus: cr.crypto.includes('-') }">
              {{ cr.crypto }}
            </div>
          </div>
        </div>
        <div class="atk-wrapper">
          <app-attack-card *ngIf="!userIsMe" (selectedCard)="selectedCard($event)"></app-attack-card>
          <app-defence-card *ngIf="userIsMe" (selectedCard)="selectedCard($event)"></app-defence-card>
        </div>
      </div>
      <button class="d-flex close-attack" (click)="close()">X</button>
    </div>
  </div>
</div>
