:host {
  height: 100vh;

  background: #cba123;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(203, 174, 32, 1), rgba(252, 43, 177, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(203, 174, 32, 1), rgba(252, 43, 177, 1));
}

.table-direction {
  display: flex;
  flex-direction: column;
  transition: all 3s;
}

.user-order-0 {
  order: 0;
  /*animation: flexanimation 1s ease-out;*/
}

.user-order-1 {
  order: 1;
  /*animation: flexanimation 1s ease-out;*/
}

.user-order-2 {
  order: 2;
  /*animation: flexanimation 1s ease-out;*/
}

.user-order-3 {
  order: 3;
  /*animation: flexanimation 1s ease-out;*/
}

.user-order-4 {
  order: 4;
  /*animation: flexanimation 1s ease-out;*/
}

@keyframes flexanimation {
  100% {
    order: inherit;
  }
}

.leader-text {
  text-align: center;
  width: 60%;
  margin: 10px 0px 10px 0px;
  background-color: #c4c5f0;
  border-radius: 6px;
}

.avatar {
  border-radius: 50%;
}

.bage {
  text-align: center;
  background-color: #c4c5f0;
  padding-left: 15px;
  padding-right: 12px;
  margin-top: -20px;
  border-radius: 3px;
  position: fixed;
}

.time {
  font-weight: 200;
  line-height: 14px;
  height: 14px;
  font-size: 12px;
}

.minus {
  padding-right: 7px;
}

.cost {
  text-align: center;
  font-size: 13px;
}

.loss {
  color: #8a0000;
}

.grow {
  color: #21a300;
}

.my-user {
  background-color: #bfd4e4;
  padding: 3px;
  border-radius: 10px;
}

.tumb {
  max-width: 40px;
  border-radius: 50%;
}

.crypto-glow {
  box-shadow: 0 0 10px black;
}

.active-user {
  background-color: transparent;
}
.gup-0 {
  margin-left: 20px;
}
.gup-1 {
  margin-left: 40px;
}
.gup-2 {
  margin-left: 60px;
}
.gup-3 {
  margin-left: 80px;
}
.gup-4 {
  margin-left: 100px;
}

.active-tumb {
  position: absolute;
}

.active-cost {
  display: none;
}

.info {
  background-color: #c4c5f0;
  height: 24px;
  width: 24px;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
}

.participant {
  height: 40px;
}

.wrapper {
  display: grid;
  grid-template-areas:
    'header header load load'
    'start start end end';
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-items: center;
}

.attack {
  grid-template-areas:
    'header header header load load load'
    'start start end end end end';
  grid-template-columns: repeat(6, 1fr);
}

.attack-field {
  width: 100%;
  height: 100%;
}

.attack-select {
  background-color: #bfd4e4;
  border-radius: 15px;
  width: 90%;
  height: 100%;
}

.centered-attack {
  width: 100%;
  height: 100%;
  align-content: center;
}

.card-field {
  /*width: fit-content;*/
}

.leader-board {
  justify-self: center;
  grid-area: start;
  /*animation: pulse 5s infinite;*/
}

.atk-wrapper {
  display: flex;
  flex-direction: row-reverse;
  margin-top: -45px;
}

.selected {
  justify-self: left;
  /*animation: pulse 5s infinite;*/
}

@keyframes pulse {
  0% {
    justify-self: left;
  }
  100% {
    justify-self: center;
  }
}

.load {
  width: 100%;
  justify-self: center;
  align-items: center;
  grid-area: load;
}

.graph {
  justify-self: center;
  grid-area: end;
}

.header {
  width: 100%;
  justify-self: center;
  grid-area: header;
  align-items: center;
}

.progress-bar {
  background-color: #21a300;
}

.progress {
  background-color: #597393;
  border-radius: 15px;
  height: 17px;
}

.progress-row {
  background-color: #c4c5f0;
  border-radius: 15px;
}

.load-box {
  background-color: #c4c5f0;
  border-radius: 10px;
  align-items: center;
}

.dot {
  margin: 0 5px 0 5px;
  width: 30px;
  height: 9px;
  border-radius: 50%;
  background-color: white;
}
