<div class="vh-100">
  <div class="wrapper">
    <div class="header w-100">
      <div class="banxter d-flex flex-row">
        <div class="mx-2">Banxter</div>
        <div class="grade d-flex flex-row mx-2" *ngFor="let grade of grades">
          Grades
          <button class="info mx-2">i</button>
        </div>
      </div>
      <div class="device d-flex flex-row">
        <div class="mining-device w-100 h-100 m-2" *ngFor="let grade of grades">
          <div class="dev">VIDEOCARDS</div>
          <div class="text">DEFAULT</div>
        </div>
      </div>
    </div>
    <div class="rent w-100">
      <div class="token d-flex flex-column">
        <div class="mining-text m-2" style="width: 8rem">TEXT</div>
        <div class="mining-text m-2" style="width: 12rem">TEXT</div>
        <div class="tips d-flex flex-row">
          <div class="m-2 tips-text">30 days</div>
          <div class="m-2 tips-text">60 days</div>
          <div class="m-2 tips-text">90 days</div>
        </div>
        <button class="btn btn-primary" style="width: 8rem">Rent</button>
      </div>
    </div>
  </div>
</div>
