<div class="vh-100" style="background-color: #ffffff">
  <div class="wrapper">
    <div class="left-card w-100 menu-card">
      <div class="card h-100 w-100 m-2 justify-content-center" (click)="goToMiner()">
        <div class="px-2 m-1 card-cont">Miner</div>
        <div class="px-2 m-1 card-cont">CONTENT</div>
      </div>
      <div class="card h-100 w-100 m-2 justify-content-center" (click)="goToEducation()">
        <div class="px-2 m-1 card-cont">Education</div>
        <div class="px-2 m-1 card-cont">CONTENT</div>
      </div>
    </div>
    <div class="right-card w-100 menu-card">
      <div class="card h-100 w-100 m-2 justify-content-center" (click)="goToInvestments()">
        <div class="px-2 m-1 card-cont">Investments Runs</div>
        <div class="px-2 m-1 card-cont">CONTENT</div>
      </div>
      <div class="card h-100 w-100 m-2 justify-content-center">
        <div class="px-2 m-1 card-cont">CONTENT</div>
        <div class="px-2 m-1 card-cont">CONTENT</div>
      </div>
    </div>
    <div class="side d-flex flex-column justify-content-around w-100 px-2">
      <div class="user-info d-flex flex-row w-100">
        <img class="avatar" src="/assets/img/cypto-tumb/crypto-2.jpg" alt="" />
        <div class="avatar-info d-flex justify-content-around flex-column w-100">
          <div class="avatar-text" style="width: 100%">Name</div>
          <div class="avatar-text" style="width: fit-content">@Name</div>
          <div class="avatar-text" style="width: fit-content">Level 5</div>
        </div>
      </div>
      <div class="d-flex justify-content-center flex-column w-100">
        <div class="w-100 balance m-1">Banxter</div>
        <div class="w-100 balance m-1">Balance</div>
        <div class="token balance m-1">0.5 crypto token</div>
      </div>
      <div class="card d-flex flex-column cards-card w-100 m-1" style="text-align: center" (click)="goToGarage()">
        <div class="card-text mb-1">Cards</div>
        <div class="card-text" style="width: 40%">Cards</div>
      </div>
      <div
        class="card d-flex flex-column w-100 m-1"
        style="text-align: center; align-items: center"
        (click)="goToBanxter()"
      >
        <div class="card-text" style="width: 40%">Banxters</div>
      </div>
    </div>
    <div class="footer d-flex flex-column justify-content-center w-100">
      <div class="card w-100 m-2">
        <div class="active-run w-100 justify-content-between d-flex flex-row h-100">
          <div class="d-flex flex-column">
            <div class="d-flex">Ongoing run</div>
            <div class="d-flex" style="width: 100%">
              <canvas
                baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType"
                [colors]="lineChartColors"
              >
              </canvas>
            </div>
          </div>
          <div class="d-flex" style="align-items: center">
            <circle-progress
              class="d-flex"
              style="text-align: center"
              [percent]="85"
              [radius]="20"
              [backgroundPadding]="7"
              [space]="-2"
              [outerStrokeWidth]="2"
              [outerStrokeColor]="'#DDEAF3'"
              [innerStrokeColor]="'#BFD4E4'"
              [innerStrokeWidth]="2"
              [title]="['12:34', 'left']"
              [titleFontSize]="'4'"
              [subtitleFontSize]="'4'"
              [animateTitle]="false"
              [animationDuration]="1000"
              [showUnits]="false"
              [clockwise]="false"
            ></circle-progress>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
