.wrapper {
  height: 100%;
  display: grid;
  grid-template-areas:
    'left-card left-card right-card right-card side side'
    'left-card left-card right-card right-card side side'
    'left-card left-card right-card right-card side side'
    'left-card left-card right-card right-card side side'
    'footer footer footer footer side side';
  /*grid-template-rows: repeat(2, 1fr);*/
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  justify-items: center;
}

.right-card {
  grid-area: right-card;
}

.left-card {
  grid-area: left-card;
}

.side {
  grid-area: side;
}

.footer {
  grid-area: footer;
}

.menu-card {
  text-align: center;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.avatar {
  min-width: 60px;
  max-width: 140px;
  /*height: 140px;*/
  border-radius: 50%;
}

.avatar-info {
}

.avatar-text {
  text-align: center;
  margin: 5px;
  background-color: #bfd4e4;
  border-radius: 4px;
}

.card-cont {
  align-self: center;
  width: 80%;
  background-color: #ddeaf3;
}

.balance {
  background-color: #ddeaf3;
  border-radius: 4px;
}

.token {
  width: 60%;
}

.cards-card {
  align-items: center;
  justify-content: center;
  height: 4rem;
}

.card-text {
  width: 60%;
  border-radius: 3px;
  background-color: #ddeaf3;
}

.card {
  border: 0px;
  background-color: #bfd4e4;
}

.fill-container {
  flex: 1 0 auto;
}
