.wrapper {
  height: 100%;
}

.level-card {
  align-items: center;
  justify-content: center;
}

.message {
  background-color: #f2f7f9;
  padding: 10px;
  width: 50%;
  border-radius: 5px;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.new-button {
  background-color: #32c5ff;
  border-color: #32c5ff;
  color: #fff;
}
