<div class="lost-card">
  <div class="row flex-column" style="align-items: center">
    <div class="col first-block py-2">
      <div class="won-img">
        <img class="avatar" src="/assets/img/cypto-tumb/crypto-1.jpeg" alt="">
        <div class="won-text w-100">You LOST!</div>
      </div>
    </div>
    <div class="col second-block py-2">
      <div class="won-text">-2000t</div>
    </div>
    <div class="col first-block py-2">
      <div class="d-flex justify-content-center">
        <div class="d-flex">
          <button class="btn btn-danger">GO TO GARAGE</button>
        </div>
      </div>
    </div>
  </div>
</div>
