:host {
  height: 100vh;
  /*overflow: hidden;*/

  /*!* Chrome 10-25, Safari 5.1-6 *!*/
  /*background: -webkit-linear-gradient(to right, rgba(203, 174, 32, 1), rgba(252, 43, 177, 1));*/

  /*!* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
  /*background: linear-gradient(to right, rgba(203, 174, 32, 1), rgba(252, 43, 177, 1));*/
}

.tab-instruments {
  background-color: #f2f7f9;
}

.tab-cards {
  background-color: #bfd4e4;
}

.new-class {
  border-color: #146c43;
  box-shadow: 0 0 10px #146c43;
}

.buy {
  color: #ffffff;
  border-color: #21a300;
  background-color: #21a300;
}

.wrapper {
  overflow-y: scroll;
  overflow-x: hidden;
  display: grid;
  grid-template-areas: 'left right';
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: dense;
  justify-items: center;
  height: 100vh;
  width: 100vw;
}

.max-test {
  /*max-width: 350px;*/
  /*min-width: 150px;*/
}

.left {
  align-self: center;
  width: 100%;
  grid-row: 1;
  grid-area: left;
}

.nav-tabs .nav-link {
  /* margin-bottom: -1px; */
  background: 0 0;
  border: 1px solid transparent;
  /* border-top-left-radius: .25rem; */
  /* border-top-right-radius: .25rem; */
}

.nav-tabs .nav-link.active {
  color: #597393;
  text-decoration: #0010a3 underline;
  text-decoration-style: solid;
  text-decoration-thickness: 2px;
}

.nav-tabs {
  border-bottom: 0;
}

.nav-link {
  /* margin-bottom: -1px; */
  color: #597393;
  padding: 0 10px 0 10px;
  /* border-top-left-radius: .25rem; */
  /* border-top-right-radius: .25rem; */
}

.right {
  align-self: center;
  width: 100%;
  grid-row: 1;
  grid-area: right;
}

/*.footer {*/
/*  grid-row: 1;*/
/*  grid-area: footer;*/
/*}*/

.select-button {
  align-self: center;
  width: 2rem;
  height: 2rem;
  background-color: #ddeaf3;
  border-radius: 50%;
}

.crypto-name {
  font-size: 13px;
  color: #597393;
  text-align: center;
  align-self: center;
  margin: 0;
}

.active-selected {
  background-color: #32c5ff;
  border: 1px solid #0998ffb2;
}

.disabled-selected {
  background-color: #818b92;
}

.garage-btn {
  width: 12rem;
  color: #ffffff;
  background-color: #32c5ff;
  border: 1px solid #0998ffb2;
}

.disable-btn {
  width: 12rem;
  color: #ffffff;
  background-color: #8a8a8a;
  border: 1px solid #363636;
}
