:host {
  height: 100vh;
/*overflow: hidden;*/
  background: #cba123;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(203, 174, 32, 1), rgba(252, 43, 177, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(203, 174, 32, 1), rgba(252, 43, 177, 1));
}

.new-class {
  border-color: #146c43;
  box-shadow: 0 0 10px #157347;
}

.wrapper {
  overflow-y: scroll;
  overflow-x: hidden;
  display: grid;
  grid-template-areas: 'left right';
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: dense;
  gap: 10px;
  justify-items: center;
  height: 100vh;
}

.left {
  grid-row: 1;
  grid-area: left;
}

.nav-tabs .nav-link {
  /* margin-bottom: -1px; */
  background: 0 0;
  border: 1px solid transparent;
  /* border-top-left-radius: .25rem; */
  /* border-top-right-radius: .25rem; */
}

.nav-tabs .nav-link.active {
  color: #0072ff;
  text-decoration: underline;
}

.nav-tabs {
  border-bottom: 0;
}

.nav-link {
  /* margin-bottom: -1px; */
  color: #597393;
  padding: 0 10px 0 10px;
  /* border-top-left-radius: .25rem; */
  /* border-top-right-radius: .25rem; */
}

.right {
  grid-row: 1;
  grid-area: right;
}

/*.footer {*/
/*  grid-row: 1;*/
/*  grid-area: footer;*/
/*}*/

.crypto-name {
  text-align: center;
  align-self: center;
  margin: 0;
}
