.wrapper {
  height: 100%;
  display: grid;
  grid-template-areas:
    'header header header header header header header header header header'
    'mining mining mining mining mining mining mining mining mining mining'
    'mining mining mining mining mining mining mining mining mining mining'
    'mining mining mining mining mining mining mining mining mining mining'
    'mining mining mining mining mining mining mining mining mining mining'
    'mining mining mining mining mining mining mining mining mining mining'
    'mining mining mining mining mining mining mining mining mining mining';
  /*grid-template-rows: repeat(2, 1fr);*/
  grid-template-columns: repeat(10, 1fr);
  gap: 10px;
  justify-items: center;
}

.time {
  position: absolute;
  bottom: 0;
  right: 0;
  align-self: end;
  /*width: 40px;*/
  /*height: 40px;*/
}

.header {
  background-color: #bfd4e4;
  grid-area: header;
}

.mining {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  grid-area: mining;
}

.grade {
  align-items: center;
  border-radius: 2px;
  background-color: #d1eafc;
}

.info {
  background-color: #c4c5f0;
  height: 16px;
  width: 16px;
  font-size: 10px;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
}

.mining-device {
  text-align: center;
  border-radius: 3px;
  background-color: #ddeaf3;
}

.dev {
  font-weight: 700;
  font-size: 11px;
  /*padding: 10px 10px 0 10px;*/
}

.text {
  font-weight: 400;
  font-size: 14px;
}

.token {
  text-align: center;
  align-items: center;
}

.mining-text {
  border-radius: 3px;
}

.collect {
  width: 20rem;
  background-color: #32c5ff;
  border-color: #32c5ff;
}
