<div class="vh-100">
  <div class="wrapper">
    <div class="add-header d-flex justify-content-center w-100">
      <div class="title-card">BANXTERS</div>
    </div>
    <div class="add-card d-flex flex-row w-100">
      <div class="new-card d-flex flex-column m-2" *ngFor="let card of cards">
        <img class="avatar" src="/assets/img/cypto-tumb/crypto-2.jpg" alt="" />
        <div class="card-content">
          <div class="text">TEXT</div>
          <button class="card-button btn btn-success w-100">BUTTON</button>
        </div>
      </div>
    </div>
  </div>
</div>
