<div class="vh-100" style="background-color: #bfd4e4">
  <div class="wrapper">
    <button class="btn btn-primary position-absolute" (click)="goBack()" style="left: 0; top: 0">Go Back</button>
    <div class="banxter w-100 h-100">
      <img class="avatar" src="/assets/img/cypto-tumb/crypto-2.jpg" alt="" />
      <div class="items" style="width: 8rem; background-color: #bfd4e4">TEXT</div>
      <div class="items" style="width: 12rem; background-color: #ddeaf3">TEXT</div>
      <div class="items" style="width: 11rem; background-color: #ddeaf3">TEXT</div>
      <div class="m-1 button-container">
        <button class="btn btn-secondary btn-md" style="width: 5rem">No</button>
        <button class="btn banxter-button btn-md" style="width: 5rem">Yes</button>
      </div>
      <div class="items" style="width: 5rem; background-color: #ddeaf3">Text</div>
    </div>
    <div class="cards container w-100">
      <div class="row m-1">
        <div class="side-cards p-0" style="margin: 0 2px 0px -5px">
          <img class="side-card" src="/assets/img/cypto-tumb/crypto-2.jpg" alt="" />
          <div class="card-text w-100 mt-1">CARD TEXT</div>
        </div>
        <div class="side-cards p-0" style="margin: 0 2px 0 0">
          <img class="side-card" src="/assets/img/cypto-tumb/crypto-2.jpg" alt="" />
          <div class="card-text mt-1">CARD TEXT</div>
        </div>
        <div class="side-cards p-0" style="margin: 0 2px 0 0">
          <img class="side-card" src="/assets/img/cypto-tumb/crypto-2.jpg" alt="" />
          <div class="card-text mt-1">CARD TEXT</div>
        </div>
        <div class="side-cards p-0" style="margin: 0 2px 0 0">
          <img class="side-card" src="/assets/img/cypto-tumb/crypto-2.jpg" alt="" />
          <div class="card-text mt-1">CARD TEXT</div>
        </div>
      </div>
      <!--      <div class="row">-->
      <!--        <div class="side-cards m-1">-->
      <!--          <img class="side-card" src="/assets/img/cypto-tumb/crypto-2.jpg" alt="" />-->
      <!--          <div class="card-text mt-1">CARD TEXT</div>-->
      <!--        </div>-->
      <!--        <div class="side-cards m-1">-->
      <!--          <img class="side-card" src="/assets/img/cypto-tumb/crypto-2.jpg" alt="" />-->
      <!--          <div class="card-text mt-1">CARD TEXT</div>-->
      <!--        </div>-->
      <!--      </div>-->
    </div>
  </div>
</div>
