<!--<div class="vh-100">-->
  <div class="wrapper mx-2">
<!--    <div class="header w-100">-->
<!--      tabs-->
<!--    </div>-->
    <div class="run w-100 d-flex flex-column">
      <div class="text-wrap mx-2">
        <div class="text">To run</div>
      </div>
      <div class="cards-list d-flex flex-row h-100">
        <div class="cards-body d-flex flex-column mx-2 h-100" *ngFor="let item of runCards">
          <img class="avatar" src="/assets/img/cypto-tumb/crypto-2.jpg" alt="" />
          <div class="card-text">CARD TEXT</div>
        </div>
      </div>
    </div>
    <div class="open w-100 d-flex flex-column">
      <div class="text-wrap mx-2">
        <div class="text">Open Cards</div>
      </div>
      <div class="cards-list d-flex flex-row h-100">
        <div class="cards-body d-flex flex-column mx-2 h-100" *ngFor="let item of openCards">
          <img class="avatar" src="/assets/img/cypto-tumb/crypto-2.jpg" alt="" />
          <div class="card-text">CARD TEXT</div>
        </div>
      </div>
    </div>
    <div class="locked w-100 d-flex flex-column">
      <div class="text-wrap mx-2">
        <div class="text">Locked Cards</div>
      </div>
      <div class="cards-list d-flex flex-row h-100">
        <div class="cards-body d-flex flex-column mx-2 h-100" *ngFor="let item of lockedCards">
          <img class="avatar" src="/assets/img/cypto-tumb/crypto-2.jpg" alt="" />
          <div class="card-text">CARD TEXT</div>
        </div>
      </div>
    </div>
  </div>
<!--</div>-->
